footer {
    width: 100%;
    color: black;
    text-align: center;
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

input{
    text-align: center;
}

a{
    text-align: center;
    justify-content: center;
    margin: 1%;
}

div{
    text-align: center;
}