<header>Header</header>

<h1>Hallo Welt!</h1>
<p>Du kannst ein QR-Code folgen. Ziemlich sweet! <br>
    Ich hab gehört, dass du gerne wissen möchtest, 
    was wir am 29.06.2018 19 Uhr  machen, nicht wahr? <br>
    Tja, dafür stehen dir nur noch ein paar Fragen im Weg.
</p>
<button class="btn btn-primary">Okay, ich bin bereit!</button>


<app-riddles></app-riddles>


<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 	col-sm-6 	col-md-6 	col-lg-6" style="background-color:lightskyblue;">Impressum</div>
      <div class="col-xs-6 	col-sm-6 	col-md-6 	col-lg-6" style="background-color:lightskyblue;">Datenschutz</div>
    </div>
  </div>
</footer>

  
  
                    